package {{package}};

import io.vertx.core.AsyncResult;
import io.vertx.core.Handler;
// import io.vertx.ext.web.api.OperationRequest;
// import io.vertx.ext.web.api.OperationResponse;
import io.vertx.ext.web.api.generator.WebApiServiceGen;
import io.vertx.ext.web.api.*;

import {{package}}.impl.{{classname}}Impl;

{{#imports}}import {{import}};
{{/imports}}
import java.util.List;
import java.util.Map;

@WebApiServiceGen
public interface {{classname}}  {

  static {{classname}} create() {
    return new {{classname}}Impl();
  }

{{#operations}}
{{#operation}}
  /**
  * method:      {{httpMethod}}
  * path:        {{path}}
  * summary:     {{summary}}
  */
{{>AsyncMethod}}
{{/operation}}
{{/operations}}

}
