  void {{operationId}}(
    {{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{^hasMore}}, {{/hasMore}}{{/allParams}}
    OperationRequest context, Handler<AsyncResult<OperationResponse>> resultHandler);
